{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">
<link rel="stylesheet" href="public/css/base.css">
{% endblock %}
{% block main %}
{# {% include "elements/navbar.html.twig" %} #}

{% if alert %}
<div class="alert-center alert alert-warning alert-dismissible fade show" role="alert">
    {{alert['message']}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </button>
</div>
{% endif %}
<main class=" flex-wrap  d-flex wrapper-home justify-content-between">
  {% include "elements/sidebar.html.twig" %}
  <div class="explorecard">
    <div class="left-explorecard">
        <div class="title-explorecard"> Explore Coin</div>
        <div class="subtitle-explorecard">Solde disponible</div>
        <div class="data-explorecard"><span class="explore-coin"></span>{{user.explorecoin}} EXC</div>
    </div>
    <a href="amount" class="button-explore-card">recharger</a>
  </div>
  <div class="explorecard">
    <div class="left-explorecard">
        <div class="title-explorecard"> Explore Bag</div>
        <div class="subtitle-explorecard">Flotte disponible</div>
        <div class="data-explorecard">{{user.bagNumber}} sacs à dos</div>
    </div>
    <div class="explorebag">

    </div>
  </div>
  <div class="explorecard">
    <div class="title-explorecard"> Jeux disponibles </div>
    <div class="subtitle-explorecard">Jeux en gestion</div>
    <div class="data-explorecard-red">{{user.clientGames|length}} 
    {% if user.clientGames|length > 1 %}
      jeux
    {% else %}
      jeu
    {% endif %}</div>
    <div  class="info-bas-explore-card">
      
     {% for game in user.clientGames %}
        {{game.Game.name}}
     {% endfor %}
    </div>
  </div>
  <div class="explorecard">
    <div class="left-explorecard">
      <div class="title-explorecard"> Rang {{user.rank.name}} </div>
      <div class="subtitle-explorecard">Améliorez votre rang</div>
      <div class="data-explorecard">{{rank_games}} Jeux débloqués</div>
  </div>
    <div class="svg-container">
      {{ cover_rank | raw }}
    </div>
  </div>
</main>
{% endblock %}
{% block script %}
{% endblock %}