{% extends 'base.html.twig' %}
{% block style %}
<link rel="stylesheet" href="public/css/sidebar.css">
<link rel="stylesheet" href="public/css/base.css">
{% endblock %}
{% block main %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    

{# {% include "elements/navbar.html.twig" %} #}
{% include "elements/sidebar.html.twig" %}
{% if alert %}
<div class="alert-center alert alert-warning alert-dismissible fade show" role="alert">
    {{alert['message']}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </button>
</div>
{% endif %}
<main class=" flex-wrap  d-flex wrapper-home justify-content-between">
  {% if user.clientInfiniteQr == 0  %}
    {% if user.transac %}
    <div class="explorecard-transparent">
      <div class="title-explorecard"> Historique des transactions </div>
      <div class="subtitle-explorecard">Rechargement en ExploreCoins</div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID transaction</th>
            <th scope="col">Montant</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in user.transac %}
            <tr>
              <td>{{entry.id}}</td>
              <td>{{entry.amount}}  €</td>
              <td>{{entry.createdAt}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="explorecard-transparent">
      <div class="title-explorecard"> Historique des transactions </div>
      <div class="subtitle-explorecard">Vous n'avez pas encore rechargé vos explore coin </div>
      
    </div>
    {% endif %}
  
  {% endif %}
  <div class="explorecard-transparent">
    <div class="title-explorecard">Statistiques</div>
    <div class="subtitle-explorecard">Qrcodes</div>
    <input type="hidden" value="{{user.stats}}" id="statistiques">
    <div id="columnchart_material" style="width: 350px; height: 200px;"></div>
  </div>
</main>
{% endblock %}
{% block script %}
<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', (event) => {
    let stats = document.getElementById('statistiques');
  
  stats = stats.value;
  stats = JSON.parse(stats);
  console.log(stats);
  google.charts.load('current', {'packages':['bar']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['', 'Générés', 'Expirés', 'En cours' , 'Scannés'],
      ['Total', stats.qr_total, stats.expire_total, stats.encour_total ,stats.scan_total],
    ]);

    var options = {
      backgroundColor: '#F9F6F2',
      chart: {
       
      }, 
      chartArea: {
        backgroundColor: {
          fill: '#F9F6F2',
        },
      },
    };

    var chart = new google.charts.Bar(document.getElementById('columnchart_material'));

    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
});
  
</script>
{% endblock %}